* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px blue;
}

.opcion-menu {
    text-align: center;
    color: blue;
    background-color: blanchedalmond;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    margin: 0px 3%;
}

.menu-container {
    text-align: center;
    background-color: black;
    box-shadow: 0px 10px 3px grey;
    padding: 20px;
    margin: 10px 0px 30px 0px;
}